<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-list>
  <ion-list-header color="primary">
    <ion-label>Opciones</ion-label>
  </ion-list-header>

  <ion-button [routerLink]="['/uno']">
    Pagina uno: Lista y botones
  </ion-button>

  <ion-button [routerLink]="['/dos']">
    Pagina dos: Back Button
  </ion-button>

  <ion-button [routerLink]="['/tres']">
    Inputs
  </ion-button>

  <a href="/tres">| Ver los inputs disponibles |</a>
  <br><br><br>
  <a href="/cuatro">| Tarjetas |</a>

<ion-item>
  <ion-button [routerLink]="['/cinco']" size="large" shape="round">
    <ion-icon slot="end" name="alert-circle"></ion-icon>
    Alertas
  </ion-button>
</ion-item>


<br><br><br>
<a href="/seis">| Grilla, Atributos y mostrar datos |</a>


</ion-list>

</ion-content>
