<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Seis</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">Nombre</ion-col>
      <ion-col size="8">{{ nombre }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Edad</ion-col>
      <ion-col size="8">{{ edad }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Mensaje</ion-col>
      <ion-col size="8">{{ mensaje }}</ion-col>
    </ion-row>
<!-- Agregar en grilla 3 botones uno agregar,
  Eliminar y Editar. Deben tener distintos colores
  e icono adecuado a la acciona a realizar
-->
  <ion-row>
    <ion-col size="4">
      <ion-button color="success" expand="block">
        <ion-icon slot="start" name="add"></ion-icon>
        Agregar
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="danger" expand="block">
        <ion-icon slot="start" name="remove"></ion-icon>
        Eliminar
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="warning" expand="block">
        <ion-icon slot="start" name="create"></ion-icon>
        Editar
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>

<br><br><br>
<h1>Listado de asignaturas</h1>
<ion-list>
  <ion-item *ngFor="let asignatura of asignaturas">
    <ion-label>{{asignatura.nombre | uppercase }}</ion-label> <!-- lowercase-->
  </ion-item>


</ion-list>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>Grilla y atributos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>