<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Uno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-list-header color="primary">
      <ion-label><b>Hardware</b></ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>RAM</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>CPU</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SSD/HDD/M2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GPU</ion-label>
    </ion-item>
  </ion-list>

  <h1>Botones</h1>
  <ion-button>Enviar</ion-button>
  <ion-button shape="round">Enviar</ion-button>
  <ion-button size="small">Enviar</ion-button>
  <ion-button size="large">Enviar</ion-button>
  <ion-button fill="outline">Enviar</ion-button>
  <ion-button expand="block">Enviar</ion-button>
  <ion-button color="danger">Enviar</ion-button>
  <ion-button color="warning">Enviar</ion-button>
  <ion-button color="success">Enviar</ion-button>
  <ion-button color="medium">Enviar</ion-button>
  <ion-button color="dark">Enviar</ion-button>
  <ion-button color="tertiary">Enviar</ion-button>

  <ion-button color="tertiary" shape="round" fill="outline" expand="block">Enviar</ion-button>

  <ion-button>
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>
  <ion-button>Eliminar
    <ion-icon slot="icon-only" name="remove"></ion-icon>
  </ion-button>
  <ion-button>Borrar
    <ion-icon slot="start" name="trash"></ion-icon>
  </ion-button>
  <ion-button>ok
    <ion-icon slot="end" name="checkmark-circle"></ion-icon>
  </ion-button>
  <ion-button>ok
    <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
  </ion-button>

<!--
  https://ionic.io/ionicons  
-->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
    <ion-button slot="end">Enviar</ion-button>
  </ion-toolbar>

</ion-footer>



