<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Uno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-list-header color="primary">
      <ion-label><b>Hardware</b></ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>RAM</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>CPU</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SSD/HDD/M2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GPU</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
