<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <ion-label>Numero 1</ion-label>
  <input type="number" placeholder="Numero 1">
</ion-item>
<ion-item>
  <ion-label>Numero 2</ion-label>
  <input type="number" placeholder="Numero 2">
</ion-item>
<ion-button >
  <ion-icon slot="icon-only" name="add">Sumar</ion-icon>
</ion-button>
<ion-button >
  <ion-icon slot="icon-only" name="add">dividir</ion-icon>
</ion-button>
</ion-content>
