<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cuatro</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img src="assets/playa1.jpg" alt="playa">
    <ion-card-header>
      <ion-card-subtitle>Pais: Brasil</ion-card-subtitle>
      <ion-card-title>Buzio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Playas color turquesa, apto para todo publico, hotel 3 estrellas.
      tour por ciudades y monumentos historicos.
      Uso de todas las instalaciones del hotel.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Pais: Brasil</ion-card-subtitle>
      <ion-card-title>Punta de Cana</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Playas color turquesa, apto para todo publico, hotel 3 estrellas.
      tour por ciudades y monumentos historicos
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Pais: Brasil</ion-card-subtitle>
      <ion-card-title>Florianopolis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Playas color turquesa, apto para todo publico, hotel 4 estrellas.
      Uso de todas las instalaciones: Gimnasio, piscina, casino, entre otros.
      Tour por ciudades y monumentos historicos
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Tarjetas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>